<%= form_for @reminder do |r| %>

  <%= fields_for @person do |rp| %>
  <div class="form-group">
    <%= rp.label :name, "name of person" %>
    <%= rp.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= r.label :when, "date" %>
    <%= r.datetime_select :when, class:'form-control', ampm:true %>
  </div>
  <div class="form-group">
    <%= r.label :send_text %>
    <%= r.check_box :send_text %>
    <%= r.label :send_email %>
    <%= r.check_box :send_email %>
  </div>
  <div class="form-group">
    <%= r.submit class:'btn btn-primary' %>
  </div>

  <% end %>
<% end %>
