
<%= form_tag amazon_api_path, method: "get" do %>

    <%= text_field_tag :search, nil, placeholder: 'search' %>
    <%= submit_tag "Search" %>
<% end %>

<% if @products != nil %>
<h1>Products from the Amazon API</h1>
     <% @products.each do |product| %>
       <div class="product col-md-3 itembox">
         <%= link_to image_tag(product['MediumImage']['URL']), product['DetailPageURL'] %>
         <br>
         <%= link_to product['ItemAttributes']['Title'], product['DetailPageURL'] %>
       </div>

     <% end %>
<% end %>
