<div class="container">
  <!-- Button trigger modal -->
  <div class="row">
    <button type="button" class="btn btn-primary col-xs-4" data-toggle="modal" data-target="#myModal">
      New Reminder
    </button>
  </div>
  <% @reminders.each do |reminder| %>
    <% if current_user.id == reminder.user_id %>
    <div class="">
      <div class="panel panel-body col-md-6">
        <p>name: <%= reminder.person.name %></p>
        <p>event: <%= reminder.reminder_type.event %></p>
        <p>
          interests:
          <% reminder.person.interests.each do |interest| %>
          <%= interest.name %>
          <% end %>
        </p>
        <p>
          date: <%= reminder.when.strftime("%D %r") %>
        </p>
        <%= link_to "delete", reminder_path(reminder.id), method: :delete, data:{confirm:"are you sure"}, class:"btn btn-danger" %>
      </div>
    </div>
    <% end %>
  <% end %>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create a Reminder</h4>
        </div>
        <div class="modal-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  </div>
