<p>
  <%= image_tag @user.image_url %>
</p>
<p>
  Name: <%= @user.name %>
</p>
<p>
  Email: <%= @user.email %>
</p>
<p>
  Phone: <%= @user.phone %>
</p>
<p>
  <%= link_to "Edit", edit_user_path(current_user.id) %>
</p>
