<h1>Giftdr Reminder</h1>

<p>
  <%= @greeting %>
</p>
<% @user.reminders.each do |r| %>
  <% if !r.sent %>
    <p>
      <strong>reminder was set for: </strong><%= r.when %>
    </p>
    <p>
      <strong>reminder user: </strong><%= r.user.name %>
    </p>
    <p>
      <strong>reminder is for: </strong><%= r.person.name %>
    </p>
  <% end %>
<% end %>
<p>
  Reminder set at <%= Time.now %>
</p>
